export(as_tibble)
export(make_cardio_data)
export(report)
export(report_test)
export(sample_size)
export(sample_size_adjust_dropout)
export(sample_size_binary)
export(sample_size_continuous)
export(sample_size_ordinal)
export(sample_size_survival)
export(Surv)
export(sumtab)
export(test_agreement)
export(test_categorical)
export(test_correlation)
export(test_correlation_matrix)
export(test_cox)
export(test_diagnostic)
export(test_factorial)
export(test_groups)
export(test_icc)
export(test_linear_regression)
export(test_logistic_regression)
export(test_multinomial)
export(test_one_sample)
export(test_outliers)
export(test_paired)
export(test_paired_categorical)
export(test_proportion)
export(test_repeated)
export(test_repeated_categorical)
export(test_repeated_long)
export(test_roc)
export(test_survival)
export(test_two_groups)
S3method(as_tibble,testflow)
S3method(as_tibble,sample_size)
S3method(plot,testflow)
S3method(plot,sample_size)
S3method(print,testflow)
S3method(print,sample_size)
S3method(print,summary.testflow)
S3method(print,summary.sample_size)
S3method(report,testflow)
S3method(report,sample_size)
S3method(summary,testflow)
S3method(summary,sample_size)
importFrom(ggplot2,aes)
importFrom(rlang,.data)
importFrom(survival,Surv)
