export(as_tibble)
export(make_cardio_data)
export(report)
export(report_test)
export(test_categorical)
export(test_correlation)
export(test_correlation_matrix)
export(test_factorial)
export(test_groups)
export(test_multinomial)
export(test_one_sample)
export(test_outliers)
export(test_paired)
export(test_paired_categorical)
export(test_proportion)
export(test_repeated)
export(test_repeated_categorical)
export(test_repeated_long)
export(test_two_groups)
S3method(as_tibble,testflow)
S3method(plot,testflow)
S3method(print,testflow)
S3method(report,testflow)
S3method(summary,testflow)
importFrom(ggplot2,aes)
importFrom(rlang,.data)
